.container {
  width: 54px;
  height: 25px;
  border: 2px solid purple;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: relative;
  cursor: pointer;

}
.icon {
  font-size: 18px;
}
.switcher {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
